.cartProduct__card{
    width: 100%;
    max-width: 500px;
    display: flex;
    padding-left: 2em;
    border-radius: 0.8em;
    border: 1px solid #ccca;
    margin: auto;
    
}
.cartProduct__header{
    width: 100%;
    max-width: 30%;
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.cartProduct__image{
    padding: 0.5em;
    
}
.cartProduct__details{
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cartProduct__product-title{
    font-size: 1em;
    color: #aeaeae;
    font-weight: 600;
    margin-right: 1em;
    margin-bottom: 1em;
}
.cartProduct__product-quantity{
    text-align: center;
    font-size: 1.2em;
}
/* .cartProduct__div-price{
    
} */
.cartProduct__price-title{
    margin-right: 1em;
}
.cartProduct__price-title::after{
    content: ':';
}
.cartProduct__price::before{
    content: '$';
}
.cartProduct__checkout-btn{
    height: 30px;
    border: none;
    background: none;
    font-size: 1.2em;
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
}
.cartProduct__checkout-btn:active{
    transform: scale(0.7);
}

.cartPage__hr{
    color: #cdcdcd;
    margin-bottom: 1em;
}
.cartPage__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1em;
    padding: 1em;
}
.cartPage__span-total{
    font-size: 1.2em;
    font-weight: 700;
    margin: 0.8em;
}
.cartPage__totalPrice{
    font-size: 1.2em;
    font-weight: 400;
}
.cartPage__totalPrice::before{
    content: '$';
}
.cartPage__btn{
    background-color: #f85555;
    color: white;
    border: none;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.3em;
    transition: background-color 0.2s;
}
.cartPage__btn:hover{
    background-color:#cdcdcd;
    transform: translateX(3px);
}
.cartPage__btn:active{
    background-color:#cdcdcd;
    transform: translateX(3px);
    transform: scale(0.8);
}
